body {
	font-family: var(--font-primary);
}

/* @link https://utopia.fyi/type/calculator?c=320,14,1.25,2500,24,1.333,4,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--fs-1: clamp(0.875rem, 0.7833rem + 0.4587vw, 1.5rem); /* 14 - 24*/
	--fs-2: clamp(1.0938rem, 0.9608rem + 0.6647vw, 1.9994rem); /* 17 - 32*/
	--fs-3: clamp(1.3675rem, 1.1769rem + 0.9528vw, 2.6656rem); /* 21 - 42*/
	--fs-4: clamp(1.7088rem, 1.438rem + 1.3537vw, 3.5531rem); /* 27 - 56*/
	--fs-5: clamp(2.1363rem, 1.7546rem + 1.9083vw, 4.7363rem); /* 34 - 75*/

	/* https://utopia.fyi/type/calculator/?c=320,12,1.25,1900,18,1.333,4,0,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */

	--fs-1: clamp(0.75rem, 0.6741rem + 0.3797vw, 1.125rem); /* 12 - 18*/
	--fs-2: clamp(0.9375rem, 0.8237rem + 0.569vw, 1.4994rem); /* 15 - 23*/
	--fs-3: clamp(1.1719rem, 1.0044rem + 0.8373vw, 1.9988rem); /* 18 - 31*/
	--fs-4: clamp(1.465rem, 1.2221rem + 1.2146vw, 2.6644rem); /* 23 - 42*/
	--fs-5: clamp(1.8313rem, 1.4828rem + 1.7424vw, 3.5519rem); /* 29 - 56*/

	--fw-1: 400;
	--fw-2: 700;

	--lh-1: 1.2;
	--lh-2: 1.6;
}

.title {
	line-height: var(--lh-1);
	font-weight: var(--fw-2);
	&--big {
		@extend .title;
		font-size: var(--fs-5);
	}
	&--medium {
		@extend .title;
		font-size: var(--fs-4);
	}
	&--small {
		@extend .title;
		font-size: var(--fs-3);
	}
}

.text {
	line-height: var(--lh-2);
	font-weight: var(--fw-1);
	&--big {
		@extend .text;
		font-size: var(--fs-3);
	}

	&--medium {
		@extend .text;
		font-size: var(--fs-2);
	}

	&--small {
		@extend .text;
		font-size: var(--fs-1);
	}
}
