@use "../../../styles/colors" as color;

.header {
	margin-bottom: var(--marginBottom1);

	background-color: color.$green-300;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		padding-block: 1em;
		color: color.$white;
	}
}
